



<h1>List of Defect</h1>

<section>
<div>

<table class="table table-hover">
  <div class="card " flo style="text-align: left;">
     <div class="card-body">
       <form [formGroup]="eidtempForm">
            <thead><th>_id</th> <th>Emp_name</th> <th>Email </th> <th>Degre</th><th>doP</th> <th>gender</th> <th>department</th></thead>
                <tbody>
                  <tr>
 <td><label>Add Employee:-</label></td>
 <td><input #addEmpname ></td>
 <td><input #addEmail></td>
 <td><input #addDegre></td>
 <td><input #adddateofbeinghired></td>
 <td><input #addgender></td>
 <td><input #adddepartment></td>

 <td><input type="submit"  class="form-control btn btn-primary" value="Add Employee"
  (click)="addemp(addEmpname.value,addEmail.value,addDegre.value,adddateofbeinghired.value,addgender.value,adddepartment.value)"/>
                  </td>
                  </tr>

                  <tr *ngFor="let emp of emp;index as i" >
                              <td><input value={{emp._id}}    #empid disabled  >            </td>
                              <td> <input   value={{emp.Empname}}          style="width: 150px;" #Empname name="Empname" ></td>
                              <td> <input   value={{emp.Email}}            style="width: 150px;" #Email name="Email"  ></td>
                              <td> <input   value={{emp.Degre}}            style="width: 150px;" #Degre name="Degre" ></td>
                              <td> <input   value={{emp.dateofbeinghired}} style="width: 150px;" #dateofbeinghired name="dateofbeinghired" ></td>
                              <td> <input   value={{emp.gender}}           style="width: 150px;" #gender name="gender"           ></td>
                              <td> <input   value={{emp.department}}       style="width: 150px;" #department name="department"       ></td>
                              <td> <a    class="btn btn-danger" (click)="updateemp(empid.value,Empname.value,Email.value,Degre.value,dateofbeinghired.value,gender.value,department.value)"  > Edit</a></td>
                              <td> <a    class="btn btn-danger"      (click)="deleteemp(emp)" > Delete </a>

 </tr>
                </tbody>
         </form>
     </div>
    </div>
 </table>


</div>
</section>
